#doto{
    text-align: center;
}




.list{
    
        display:flex;
        justify-content:center;
        text-align: left;
    }
     

#image1{
    text-align: center;
}
#image2{
    text-align: center;
}
#image3{
    text-align: center;
}
